:root {
  --main-color: #0db0b9;
  --dark-color: #011415;
  --gray-color: #aaadae; /*rgb(170, 173, 174)*/
  --azure-color: azure;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh; /*man 100vh gozashte boodam*/
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  user-select: none;
}
h1 {
  font-size: 36px;
  color: white;
  margin-top: 0;
  margin-bottom: 18px;
}

h2 {
  font-size: 25px;
  text-align: center;
}
.body-wrapper {
  position: relative;
}

/*=====================*/

.hero-wrap {
  color: azure;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/ /*I comment this*/
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.hero-container {
  width: 1300px;
  min-height: 700px;
  background-image: url("/img/No17-2048w-croped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.hero {
  align-self: center;
  margin-left: 70px;
  max-width: 500px;
  z-index: 1;
}

.hero .detail {
  font-size: 11px;
  margin: 5px;
  color: var(--gray-color);
}

.hero .plot {
  font-size: 13px;
  line-height: 1.5;
  margin: 8px 5px 25px;
}

.hero .creator,
.hero .star {
  font-size: 13px;
}

.hero .creator-title,
.hero .star-title {
  color: var(--main-color);
}

.hero .star-link,
.hero .creator-link {
  color: var(--gray-color);
}

.hero .buttons {
  margin-top: 20px;
}

.hero .watch-now,
.hero .read-more {
  padding: 10px 18px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hero .watch-now {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.hero .watch-now:hover {
  background-color: transparent;
}

.hero .read-more {
  margin-left: 15px;
  background-color: transparent;
  border: 1px solid var(--main-color);
}

.hero .read-more:hover {
  background-color: var(--main-color);
}

.hero a {
  text-decoration: none;
  color: white;
}

.hero a:hover {
  color: var(--gray-color);
}

.hero .rate-container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

/*=====================*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.6s; /*kari nemikone*/
  z-index: 5;
  padding: 30px 70px;
}

.navbar.sticky {
  padding: 10px 70px;
  background: #fff;
  opacity: 0.9;
}

.navbar .navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navbar .navbar-logo {
  background-image: url("/img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 50px;
}

.navbar .navbar-menu .navbar-item {
  list-style: none;
  font-size: 13px;
  letter-spacing: 1px;
  min-width: 25px;
}

.navbar .navbar-item:not(:last-child) {
  border-right: 1px solid var(--gray-color);
}
.navbar .navbar-item-link {
  margin: 0 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s ease;
  position: relative;
}

.navbar .navbar-item-link:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease-in;
}

.navbar .navbar-item-link:hover:after,
.navbar .navbar-item-link:active:after {
  width: 100%;
}

.navbar.sticky .navbar-item-link:not(.navbar-item-link-active-by-scroll) {
  color: var(--dark-color);
}

.navbar-item-link.navbar-item-link-active-by-scroll {
  color: var(--main-color);
  font-weight: 600;
}

.navbar .hamburger {
  color: var(--gray-color);
  display: none;
  cursor: pointer;
  font-size: 25px;
}
.navbar .social-icon {
  color: var(--gray-color);
  display: none;
  cursor: pointer;
  margin: 20px 0 10px;
  text-align: center;
}

.navbar .social-icon a i {
  color: var(--gray-color);
}

.navbar .social-icon a:visited,
.navbar .social-icon a:active {
  color: var(--gray-color);
}

.navbar .social-icon .social-icon-link {
  margin: 0 10px 0;
  padding: 0 10px 0;
}

.navbar .social-icon .social-icon-link :hover,
.navbar .social-icon .social-icon-link :active {
  color: var(--main-color);
  transform: scale(1.3);
}

/*=====================*/

.social-link-bar {
  position: fixed;
  top: 18%;
  right: 20px;
  z-index: 5;
  opacity: 80%;
}
.social-link-bar ul {
  margin: 0;
  padding: 10px 10px 10px 20px;
}

.social-link-bar ul li {
  list-style-type: none;
  padding: 10px;
  color: var(--gray-color);
  user-select: none;
}

.social-link-bar .vertical-line {
  height: 120px;
  border-left: 1px solid var(--gray-color);
  margin-left: 38px;
}

.social-link-bar ul a,
.social-link-bar ul a:active {
  color: var(--gray-color);
}

.social-link-bar ul a:hover {
  color: var(--main-color);
}

/*=====================*/

.gallery-wrap {
  position: relative;
  margin: 20px 160px 0 120px;
  padding-top: 20px;
  user-select: none;
}

/*
.gallery-wrap h2 {
  color: var(--main-color);
  margin: 0;
  margin-bottom: 30px;
}*/

.gallery-wrap .switch-left i,
.gallery-wrap .switch-right i {
  position: absolute;
  top: 50%; /*60%;*/
  /*transform: translateY(-50%);*/
  width: 35px;
  height: 35px;
  font-size: 19px;
  line-height: 35px;
  background: #fff;
  color: var(--main-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.gallery-wrap .switch-left i {
  left: -50px;
  display: none;
}

.gallery-wrap .switch-right i {
  right: -50px;
}

.carousel {
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 4px;
  padding: 20px 0; /*new*/
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  min-width: 250px;
  max-width: 250px;
  height: 166.66px;
  object-fit: cover;
  margin: 18px 0 18px 14px;
  z-index: 2;
  border-radius: 5px;
  transition: 0.5s ease;
}

.carousel img:first-child {
  margin-left: 0;
}

.carousel img:hover {
  transform: scale(1.2);
  border-radius: 5px;
  z-index: 5;
}

/*=====================*/

.footer-wrap {
  background-color: var(--dark-color);
  padding: 15px 35px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color);
}

.footer-logo {
  background-image: url("/img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 40px;
}

footer a {
  text-decoration: none;
  color: var(--gray-color);
}
footer a:visited,
footer a:active {
  color: var(--gray-color);
}

footer a:hover {
  color: var(--main-color);
}

.footer-link {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.footer-link i {
  display: inline-block;
  font-size: 16px;
  padding: 0 10px 0;
}
footer .designed-by {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

.in-touch {
  text-align: center;
  margin-top: 12px;
}

.in-touch h4 {
  font-size: 14px;
  margin: 5px 0;
  color: var(--gray-color);
  font-weight: 400;
}

.in-touch p {
  color: var(--gray-color);
  font-size: 12px;
  margin: 5px 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.input-container input[type="email"] {
  padding: 7px;
  color: var(--gray-color);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  font-size: 12px;
  width: 200px;
}

.input-container button[type="submit"] {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  font-size: 20px;
  cursor: pointer;
  margin-left: -40px;
  padding: 10px;
  user-select: none;
}

.input-container button[type="submit"]:hover {
  color: #fff;
}

.input-container button[type="submit"] i {
  margin: 0 5px 0;
}

/*========== Actor ===========*/

.actor-wrap {
  margin: 40px 100px;
  padding: 20px 130px 0;
}
.actor-wrap h2 {
  color: var(--main-color);
  margin: 0;
  margin-bottom: 30px;
}

.actor-wrap .switch-left,
.actor-wrap .switch-right {
  display: none;
}

.actor-wrap .load-more {
  text-align: center;
  margin-top: 20px;
}

.actor-wrap .load-more button {
  padding: 10px 18px;
  font-size: 14px;
  color: var(--gray-color);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--gray-color);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.actor-wrap .load-more button:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

.actor-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 15px 20px;
  justify-content: center;
}

.actor-container .actor-card {
  margin: 10px;
  display: flex;
  align-items: center;
  display: none;
}

.actor-container .actor-card:nth-child(1),
.actor-container .actor-card:nth-child(2),
.actor-container .actor-card:nth-child(3),
.actor-container .actor-card:nth-child(4),
.actor-container .actor-card:nth-child(5),
.actor-container .actor-card:nth-child(6) {
  display: flex;
}

.actor-card .actor-card-text-name,
.actor-card .actor-card-text-role {
  font-size: 15px;
}
.actor-card .actor-card-text-name {
  font-weight: 600;
  margin: 8px 0;
}
.actor-card .actor-card-text-name a {
  text-decoration: none;
}

.actor-card .actor-card-text-name a:active,
.actor-card .actor-card-text-name a:visited {
  color: #000;
}

.actor-card .actor-card-text-name a:hover {
  color: var(--main-color);
}

.actor-card .actor-card-text-role {
  color: #869293;
  font-size: 15px;
}
.actor-card .actor-card-image {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.actor-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

/*==== Trailer ====*/

.trailer-wrap {
  margin: 40px 0 30px;
  padding: 30px;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(6, 10, 11) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

/*
.trailer-wrap h2 {
  color: var(--main-color);
  margin: 0;
  margin-bottom: 30px;
}*/

.trailer-container {
  margin: 30px auto 10px;
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.trailer-container video {
  min-width: 500px;
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding-right: 50px;
}

/*==== Quotes ====*/

.quote {
  font-size: 13px;
  margin: 0 20px;
}
.quote h3 {
  color: var(--main-color);
  user-select: none;
}

.quote .quote-text {
  line-height: 1.5;
  margin: 16px 0;
  align-self: flex-start;
}

.quote .quote-info {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  user-select: none;
}

.quote .quote-info-next {
  font-size: 18px;
  cursor: pointer;
}

.quote .below-layer {
  --quote-below-layer-height: 340px;
  position: relative;
  color: #0a1530;
  padding: 10px;
  margin: 0 auto;
  max-width: 290px;
  min-width: 290px;
  height: var(--quote-below-layer-height);
  z-index: 1;
}

.quote .upper-layer {
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15),
    0 50px 100px -20px rgba(50, 50, 93, 0.3),
    0 30px 60px -30px rgba(0, 0, 0, 0.5),
    -10px 10px 60px -10px rgba(103, 178, 111, 0.3);
  background: var(--azure-color);
  border-radius: 16px;
  padding: 35px 25px 25px 35px;
  height: calc(var(--quote-below-layer-height) - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*==== Award ====*/
.award-wrap {
  margin: 30px auto;
  padding: 50px;
  background: #000;
  height: 300px;
  position: relative;
}

.award-container-title h2 {
  color: #fff;
  margin: 75px 35px 0 0;
}

.award-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 200px;
  width: 600px;
  background-color: #fff;
  box-shadow: -1px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.award-container-title {
  width: calc(30% + 50px);
  height: 100%;
  background-color: var(--main-color);
  border-left: 100px solid #fff;
  border-bottom: 200px solid transparent;
  text-align: center;
  border-radius: 5px;
}

.award-container-detail {
  width: calc(70% - 50px);
  height: 100%;
  background-color: #fff;
  color: var(--dark-color);
  padding: 60px 10px 40px 60px;
  line-height: 2;
  border-radius: 5px;
  font-size: 16px;
}
.award-container-detail span {
  font-weight: 600;
}

/*===== Suggested ======*/
.suggested-wrap {
  margin: 30px 110px 40px;
}

.suggested-wrap h2 {
  color: var(--main-color);
  margin: 0;
  margin-bottom: 30px;
}
.suggested-wrap h3 {
  color: var(--main-color);
  margin: 0;
  margin-top: 3px;
  font-size: 16px;
}
.suggested-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  gap: 30px 20px;
}

.suggested-container .suggested-card p {
  font-size: 12px;
  color: var(--dark-color);
}
.suggested-container .suggested-card img {
  width: 130px;
  height: auto;
  border-radius: 5px;
}

.suggested-text .rate-container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  font-size: 12px;
  user-select: none;
}
.suggested-text a {
  text-decoration: none;
  cursor: pointer;
}
.suggested-text a:visited,
.suggested-text a:active {
  color: var(--main-color);
}

/*========== media ===========*/

@media (max-width: 1024px) {
  .navbar {
    padding: 20px 25px 20px 20px;
  }

  .navbar.sticky {
    padding: 5px 25px 5px 20px;
  }

  .trailer-container video {
    min-width: 360px;
    max-width: 400px;
  }

  /*-----*/
  .actor-wrap {
    padding: 30px 0;
    position: relative;
    margin: 60px 130px 0 100px;
    user-select: none;
  }

  .actor-wrap .switch-left,
  .actor-wrap .switch-right {
    display: block;
  }
  .actor-wrap .switch-left i,
  .actor-wrap .switch-right i {
    position: absolute;
    top: 40%;
    /*transform: translateY(-50%);*/
    width: 35px;
    height: 35px;
    font-size: 19px;
    line-height: 35px;
    background: #fff;
    color: var(--main-color);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    text-align: center;
    user-select: none;
  }

  .actor-wrap .switch-left i {
    left: -50px;
    display: none;
  }

  .actor-wrap .switch-right i {
    right: -50px;
  }

  .actor-wrap .load-more {
    display: none;
  }

  .actor-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    grid-gap: 0;
  }

  .actor-container.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
  .actor-container.dragging img {
    pointer-events: none;
  }

  .actor-card .actor-card-image {
    width: 130px;
    height: 130px;
    margin: 0;
  }
  .actor-card img {
    height: 130px;
  }

  .actor-container .actor-card {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .actor-container :first-child {
    margin-left: 0;
  }
  .actor-container :last-child {
    margin-right: 0;
  }
  .actor-card .actor-card-text {
    text-align: center;
  }
}

@media (max-width: 985px) {
  .suggested-wrap {
    margin: 30px 60px 40px;
  }
  .suggested-container {
    gap: 30px 30px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 30px;
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .social-icon {
    display: inline-block;
  }

  .navbar .navbar-menu {
    display: flex;
    flex-direction: column;
  }
  .navbar .navbar-container {
    position: fixed;
    left: -100%;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.1s;
    z-index: 1000;
    padding: 10px 0 10px;
    background: var(--dark-color);
    user-select: none;
  }

  .navbar:not(.sticky) .navbar-container {
    margin-top: 20px;
  }

  .navbar .navbar-container.active {
    left: 0;
  }

  .social-link-bar {
    display: none;
  }

  .navbar .navbar-logo {
    background-image: url("/img/logo-mini.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 55px;
    user-select: none;
  }

  .navbar .navbar-item {
    padding: 16px 0;
    text-align: center;
  }

  .navbar .navbar-item:not(:last-child) {
    border-right: none;
  }

  .navbar .navbar-item-link {
    padding-bottom: 0;
  }
  .navbar.sticky .navbar-item-link:not(.navbar-item-link-active-by-scroll) {
    color: #fff;
  }

  .hero {
    margin: 20px 30px;
  }

  footer img {
    display: none;
  }
  .footer-container {
    display: block;
    text-align: center;
    margin: 0 50px 0;
  }
  .footer-link {
    display: block;
  }

  .trailer-container {
    flex-direction: column;
  }

  .quote {
    margin-top: 25px;
  }

  .carousel img:hover {
    transform: none;
  }

  .carousel img {
    min-width: 320px;
    max-width: 320px;
    height: 213.33px;
    margin: 0 0 18px 14px;
  }

  .gallery-wrap {
    margin: 20px 30px 50px;
  }

  .gallery-wrap .switch-left i,
  .gallery-wrap .switch-right i {
    top: 97%;
  }

  .gallery-wrap .switch-left i {
    left: 38%;
  }

  .gallery-wrap .switch-right i {
    left: 52%;
  }

  .actor-wrap {
    margin: 40px 80px 0;
  }

  /*----*/
  .award-wrap {
    height: auto;
    width: auto;
    margin: 30px auto;
  }

  .award-container {
    position: static;
    height: auto;
    width: auto;
    transform: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
  }

  .award-container-title {
    width: auto;
    height: auto;
    background-color: var(--main-color);
    border: none;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .award-container-title h2 {
    margin: 0;
    padding: 10px 0px;
  }
  .award-container-detail {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 30px 10px 30px 25px;
    text-align: center;
  }

  .suggested-container {
    gap: 20px;
  }
}

@media (max-width: 505px) {
  .suggested-container {
    flex-direction: column;
  }
}

@media (min-width: 550px) {
  .below-layer:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 99%;
    border-radius: 16px;
    background: linear-gradient(to right bottom, var(--main-color), #fff);
    transform: rotate(4deg);
    transform-origin: 40% 70%;
    box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15),
      0 50px 100px -20px rgba(50, 50, 93, 0.3),
      0 30px 60px -30px rgba(0, 0, 0, 0.5),
      -10px 10px 60px -10px rgba(103, 178, 111, 0.3);
    z-index: -1;
    line-height: 1.5;
  }
}

/*=====================*/
/*
hr {
  margin: 0 auto;
  margin-top: 25px;
  width: 30%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(170, 173, 174, 0.75),
    rgba(255, 255, 255, 0)
  );
}
*/
