:root {
  --main-color: #0db0b9;
  --dark-color: #011415;
  --gray-color: #aaadae;
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

h2 {
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(#9becfc, var(--main-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.body-wrapper {
  position: relative;
}

/*=====================*/

.hero-wrapper {
  color: azure;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/ /*I comment this*/
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.hero-container {
  width: 1200px;
  min-height: 650px;
  background-image: url("/img/No17-2048w-croped.jpg"); /*url("/img/No17-2048w-croped.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.hero {
  position: absolute;
  top: 29%;
  max-width: 500px;
  z-index: 1;
}

.hero h1 {
  font-size: 36px;
  color: white;
  margin-top: 0;
  margin-bottom: 18px;
}

.hero .detail {
  font-size: 11px;
  margin: 5px;
  color: var(--gray-color);
}

.hero .plot {
  font-size: 13px;
  line-height: 1.5;
  margin: 8px 5px 25px;
}

.hero .creator,
.hero .star {
  font-size: 13px;
}

.hero .creator-title,
.hero .star-title {
  color: var(--main-color);
}

.hero .star-link,
.hero .creator-link {
  color: var(--gray-color);
}

.hero .buttons {
  margin-top: 20px;
}

.hero .watch-now {
  padding: 10px 15px;
  font-size: 14px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(192, 228, 234, 0.1);
}

.hero .watch-now:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
}

.hero .read-more {
  margin-left: 15px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}

.hero .read-more:hover {
  background-color: var(--main-color);
}

.hero a {
  text-decoration: none;
  color: white;
}

.hero a:hover {
  color: var(--gray-color);
}

.hero .rate-container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

/*=====================*/

.menu {
  text-align: center;
  position: fixed;
  top: 20px;
  z-index: 5;
  left: 80px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu ul li {
  font-size: 13px;
  display: inline-block;
  padding: 0 20px 0;
  text-align: center;
  min-width: 25px;
  letter-spacing: 1px;
}
.menu a {
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

.menu a:hover,
.menu a:active {
  color: white;
  border-bottom: 2px solid var(--main-color);
}

.menu ul li:not(:last-child) {
  border-right: 1px solid var(--gray-color);
}

/*=====================*/

.social-link {
  position: fixed;
  top: 20%;
  right: 40px;
  z-index: 5;
  opacity: 80%;
}
.social-link ul {
  margin: 0;
  padding: 10px 10px 10px 20px;
}

.social-link ul li {
  list-style-type: none;
  padding: 10px;
  color: var(--gray-color);
}

.social-link .vertical-line {
  height: 140px;
  border-left: 1px solid var(--gray-color);
  margin-left: 38px;
}

.social-link ul a,
.social-link ul a:active {
  color: var(--gray-color);
}

.social-link ul a:hover {
  color: var(--main-color);
}

/*=====================*/

.photo-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  height: 250px;
  position: relative;
}

.photo-wrapper .switch-left,
.photo-wrapper .switch-right {
  width: 45px;
  top: 140px;
}

.photo-wrapper .switch-left {
  position: absolute;
  left: -50px;
}

.photo-wrapper .switch-right {
  position: absolute;
  right: -50px;
}

.photo-container {
  height: 230px;
  width: auto;
  overflow: hidden; /*scroll*/
  white-space: nowrap;
  text-align: center;
  /*padding-bottom: 10px;*/
  display: flex;
  align-items: center;
}

.photo-container img {
  /*min-width: 147px;
  max-width: 147px;
  height: 200px;*/
  min-width: 250px;
  max-width: 250px;
  height: 166.66px;
  background-size: cover;
  margin: 10px 5px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
  border-radius: 4px;
}

.photo-container img:hover {
  transform: scale(1.2);
  z-index: 5;
}

/*=====================

.trailer-wrapper {
  padding-top: 30px;
  margin: 40px 0;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(6, 10, 11) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

.trailer-container {
  width: 80%;
  margin: 30px auto 0;
}
*/
